.contact {
    margin-top: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}
.contact h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 30px 40px 10px;
    font-weight: 700;
}
.contact .contain-contact {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 400px;
}
.contact .contain-contact .contact-address {
    height: 100%;
    padding: 5px 10px;
}
.contact .contain-contact .contact-address .Ema-git{
    width: 100%;
    border: 0.1rem solid black;
    height: 48%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background: rgb(46, 46, 46);
}
.contact .contain-contact .contact-address .Ema-git .ema-git-div {
    display: flex;
    padding: 15px 15px;
    font-size: 2rem;
    border-radius: 10px;
    background: #000;
}

.contact .contain-contact .form-sect {
    padding: 5px 10px;
    height: 100%;

}
.contact .contain-contact .form-sect form{
    width: 100%;
    height: 100%
}
.contact .contain-contact .form-sect .form .name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15%;
    margin-bottom: 2%;
}
.contact .contain-contact .form-sect .form .name input {
    width: 47%;
    background: rgb(46, 46, 46);
    border-radius: 7px;
    border: 0.1rem solid black;
    padding-left: 30px;
    height: 100%;
    font-size: 1rem;
}
.contact .contain-contact .form-sect .form input {
    width: 100%;
    height: 15%;
    background:rgb(46, 46, 46);
    border-radius: 7px;
    border: 0.1rem solid black;
    padding-left: 30px;
    margin-bottom: 2%;
    font-size: 1rem;
}
.contact .contain-contact .form-sect .form textarea {
    width: 100%;
    height: 50%;
    background: rgb(46, 46, 46);
    border-radius: 7px;
    border: 0.1rem solid black;
    padding-left: 30px;
    margin-bottom: 2%;
    padding-top: 20px;
    outline: none;
    font-size: 16px;
}
.contact .contain-contact .form-sect .form .btn-2 {
    width: 100%;
    height: 14%;
    background: rgb(46, 46, 46);
    border-radius: 7px;
    border: 0.1rem solid black;
    font-size: 1rem;
    color: white;
    font-weight: 700;

}


.contact .contain-contact .form-sect .form .btn-2:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

/*@media screen and (max-width: 990px) {


}
@media screen and (max-width: 640px) {


}*/
@media screen and (max-width: 799px) {
    .contact{
        padding: 10px 10px;
        margin-top: 50px;
    }

    .contact h2 {
        font-weight: 600;
        padding: 0px;
        line-height: 7rem;
    }
    .contact .contain-contact {
        display: block;
        width: 100%;
        grid-template-columns: none;
        min-height: 500px;
        height: auto;
    }
    .contact .contain-contact .contact-address {
        height: 300px;
        padding: 5px 15px;
        margin-bottom: 20px;
    }
    .contact .contain-contact .contact-address .Ema-git {
        width: 100%;
        height: 50%;
        font-size: 16px;
        font-size: 16px;
    }
    .contact .contain-contact .form-sect {
        padding: 5px 10px;
        height: 400px;
    }

    .contact .contain-contact .form-sect .form input {
        padding: 10px;
        padding-top: 0;
        margin-bottom: 0%;
        height: 50px;
        padding: 10px;
        color: #fff;
        font-size: 1rem;
    }
    .contact .contain-contact .form-sect .form .name{
        margin: 0%;
    }
    .contact .contain-contact .form-sect .form .name input {
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 7px;
        font-size: 1rem;
    }
    .contact .contain-contact .form-sect .form textarea {
        margin-top: 10px;
        height: 200px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 0%;
        font-size: 1rem;
        color: #fff;
    }

    .contact .contain-contact .form-sect .form .btn-2 {
        height: 50px;
        background: #000;
        border-radius: 10px;
        border: 0.1rem solid rgb(46, 46, 46);
        font-weight: 600;
        font-size: 1rem;
    }

}

@media screen and (max-width: 477px) {
    .contact .contain-contact {
        min-height: 700px;
    }
    .contact .contain-contact .contact-address {
        height: 250px;
    }
    .contact .contain-contact .form-sect .form .name input {
        height: 40px;
        font-size: 14px;
    }
    .contact .contain-contact .form-sect .form input {
        height: 40px;
        font-size: 14px;
    }
    .contact .contain-contact .form-sect .form .name{
        margin: 0%;
    }
    .contact .contain-contact .form-sect .form .name input {
        height: 40px;
        font-size: 14px;
    }
    .contact .contain-contact .form-sect .form textarea {
        height: 200px;
        
        font-size: 14px;
    }


}