.footer {
    width: 100%;
    padding: 4rem 0;
    background-color: inherit;
}
.footer-sec {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 40px;
}
.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
}
.location p {
    line-height: 30px;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p {
    font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
    .footer-sec {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 1040px) {
    .footer-sec {
        margin-top: 120px;
    }
}
@media screen and (max-width: 477px) {
    .footer {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footer-sec {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .left, .right {
        padding: 0.85rem;
    }
    h4 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.85rem;
    }
    .location p {
        line-height: 20px;
    }
}
@media screen and (max-width: 281px) {
    .left, .right {
        padding: 0px;
    }
    h4 {
        font-size: 14px;
        padding-bottom: 0.7rem;
    }
    p {
        font-size: 14px;
    }
    .location p {
        line-height: 20px;
    }
    
}