.skills {
    width: 100%;
    display: flex;
    flex-direction : column;
    margin: 30px auto;
    padding: 0 40px;
    justify-content: flex-start;
}
.skills .head-line {
    color: #fff;
    font-size: 2rem;
    padding: 0px 10px;
    margin-bottom: 30px;
}
.skills .skill-set {
    width: 50%;
    padding: 10px 20px;
}
.skills .skill-set .desc {
    max-width: 70%;
    border-radius: 7px;
    box-shadow: 5px 5px 8px 5px #0c0c0c;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    padding: 30px 0;
}
.skills .lang-icon {
    margin-top: 20px;
    margin-left: 30%;
    display: flex;
    position: relative;
}
.skills .lang-icon .lang-1 {
    width: 70px;
    margin-right: 30px;
}
.skills .lang-icon .lang-1 img {
    width: 100%;
}
.skills .lang-icon .vert-lang{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 160%;
    right: 22%;
}
.skills .lang-icon .vert-lang .lang-2 {
    width: 70px;
    margin-top: 30px;
}
.skills .lang-icon .vert-lang .lang-2 img {
    width: 100%;
}
@media screen and (max-width: 1040px) {
    .skills .skill-set {
        width: 100%;
    }
    .skills .skill-set .desc {
        max-width: 90%;
        padding: 20px 0;
    }
    .skills .lang-icon {
        margin-left: 50%;

    }
    .skills .lang-icon .vert-lang{
        bottom: 130%;
        right: -10%;
    }
    .skills .lang-icon .lang-1 {
        width: 50px;
        margin-right: 30px;
    }
    .skills .lang-icon .vert-lang .lang-2 {
        width: 50px;
    }
}
@media screen and (max-width: 477px) {
    .skills .skill-set .desc {
        max-width: 100%;
        box-shadow: 5px 5px 8px 5px #0c0c0c;
        font-size: 0.8rem;
        padding: 10px 10px;
    }
    .skills .lang-icon .vert-lang {
        bottom: 130%;
        right: -30%;
    }
    .skills .lang-icon .vert-lang .lang-2 {
        width: 40px;
    }
    .skills .lang-icon .lang-1 {
        width: 80px;
        margin-right: 20px;
    }
}